<!DOCTYPE html><!--[if IE 8]>
<html lang="en" class="ie8 no-js"><![endif]--><!--[if IE 9]>
<html lang="en" class="ie9 no-js"><![endif]--><!--[if!IE]><!-->
<!--<![endif]--><!-- Begin Head -->
<head>
<title>TARZAN-CMS后台管理系统</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="author" content="tarzan">
<meta name="MobileOptimized" content="320">
<!--Start Style -->

<link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap-table/css/bootstrap-table.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/libs/ztree/css/ztree-bootstrap.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/libs/font-awesome/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/libs/icofont/icofont.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/libs/treegrid/jquery.treegrid.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/uploadImg.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">

<!--<link rel="stylesheet" id="theme-change" type="text/css" href="#">-->
<!-- Favicon Link -->
<link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
</head>
<body  onhashchange="handleHashChange()">
<!-- 加载动画 -->
<div class="loader">
  <div class="spinner"><img src="/images/loader.gif" alt=""/></div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
  <!-- Header Start -->
  <div th:replace="admin1/fragments/navbar :: navbar"></div>
  <!-- Sidebar Start -->
  <aside th:replace="admin1/fragments/sidebar :: sidebar(${menuTree})"></aside>
  <!-- Container Start -->
  <div class="main-content">
    <div class="col-sm-12" id="content"></div>
    <!-- footer -->
    <div th:replace="admin1/fragments/footer :: footer"></div>
  </div>

</div>

<div id="style-switcher">
  <div>
    <ul class="colors">
      <li>
        <p class='colorchange' id='color'></p>
      </li>
      <li>
        <p class='colorchange' id='color2'></p>
      </li>
      <li>
        <p class='colorchange' id='color3'></p>
      </li>
      <li>
        <p class='colorchange' id='color4'></p>
      </li>
      <li>
        <p class='colorchange' id='color5'></p>
      </li>
      <li>
        <p class='colorchange' id='style'></p>
      </li>
    </ul>
  </div>
  <div class="bottom"><a href="" class="settings"><i class="fa fa-cog" aria-hidden="true"></i></a></div>
</div>
<script th:src="@{/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/libs/bootstrap-table/js/bootstrap-table.min.js}"></script>
<script th:src="@{/libs/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/libs/swiper/swiper.min.js}"></script>
<script th:src="@{/libs/layer/layer.js}"></script>
<script th:src="@{/libs/ztree/js/jquery.ztree.all.min.js}"></script>
<script th:src="@{/libs/treegrid/jquery.treegrid.min.js}"></script>
<script th:src="@{/libs/treegrid/jquery.treegrid.extension.js}"></script>
<script th:src="@{/libs/treegrid/tree.table.js}"></script>
<script th:src="@{/libs/iceEditor/iceEditor.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/core.js}"></script>
<script th:src="@{/js/uploadImg.js}"></script>

<!-- 声明项目上下文路径 -->
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  ctx = /*[[@{/}]]*/ '';
  /*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
  const activeName = 'active';
  const defaultPageHash = '#workdest';
  $(function () {
    handleHashChange()
  });

  function handleHashChange() {
    var hash = location.hash;
    hash = hash ? hash : defaultPageHash
    $('.sidebar-menu a').removeClass(activeName);
    var $href = $('.sidebar-menu > a[href="' + hash + '"]');
    if ($href.length > 0) {
      $href.addClass(activeName).parent().parent().siblings().addClass(activeName).parent().addClass('menu-open');
    }
    Core.load("#content", hash.replace('#', ''));
  }
</script>

</body>
</html>