<form id="themeForm">
    <input name="id" type="hidden" th:value="${theme?.id}">
    <div class="form-group col-xs-12">
        <label class="control-label label-four">本地上传</label>
        <div class="input-group">
            <input type="text" class="form-control" name="coverImage" id="coverImage">
            <div id="upload-theme-btn" class="btn btn-light input-group-btn" style="min-width: 50px">
                <i class="fas fa-cloud-upload-alt"></i>
            </div>
        </div>
    </div>
    <div id="upload-cover-content" class="form-group col-md-12 hidden">
        <div class="upload-item">
            <p class="upload-btns"><a type="button" class="btn btn-sm btn-block btn-info coverUploader">上传</a>
            </p></div>
    </div>
</form>

<script>
    $(function () {
        $('#upload-cover-content').toggle()
        /*上传图片*/
        $("#upload-theme-btn").click(function () {
            $('#upload-cover-content').toggle()
            $(".coverUploader").upload({
                server: '[[@{/attachment/upload}]]',
                swf: '/admin/img/Uploader.swf'
            }, function (url, picker) {
                $("#coverImage").val(url);
                echoGtUploadResMethd(url, picker);
            });
        });
    })
</script>