<div class="row">
  <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-title-wrapper">
      <div class="page-title-box">
        <h4 class="page-title bold">主题管理</h4>
      </div>
      <div class="breadcrumb-list">
        <ul>
          <li class="breadcrumb-link"><a th:href="@{admin}"><i class="fas fa-home mr-2"></i>首页</a></li>
          <li class="breadcrumb-link active">网站管理</li>
          <li class="breadcrumb-link active">主题管理</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Table Start -->
<!--<div class="row ad-btm-space">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="main-product-grid">
    <ul>
      <li>
        <div class="product-grid">
          <div class="product-item">
            <img th:src="@{/admin1/images/error.png}" alt="product-img"/>
            <div class="product-overlay">
              <h4>启用</h4>
            </div>
            <div class="product-ovr-links">
              <ul>
                <li><a href="product-single.html" class="fa fa-toggle-on">启用
                  </a></li>
                <li><a href="javascript:;" class="fa fa-edit">编辑
                  </a></li>
                <li><a href="javascript:;" class="fa fa-trash-alt">删除
                  </a></li>
              </ul>
            </div>
          </div>
          <div class="product-text-rs">
            <h3>默认主题</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
&lt;!&ndash;  <div class="card-footer pt-0">
    <nav class="d-inline-block">
      <ul class="pagination mb-0 ">
        <li class="page-item disabled "><a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-chevron-left"></i></a></li>
        <li class="page-item active "><a class="page-link " href="javascript:void(0); ">1</a></li>
        <li class="page-item "><a class="page-link " href="javascript:void(0); ">2</a></li>
        <li class="page-item "><a class="page-link " href="javascript:void(0); ">3</a></li>
        <li class="page-item "><a class="page-link " href="javascript:void(0); "><i class="fas fa-chevron-right "></i></a></li>
      </ul>
    </nav>
  </div>&ndash;&gt;
</div>
</div>-->

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card-header">
      <h4 class="card-title">默认主题</h4>
    </div>
    <div class="card">
      <img th:src="@{/admin1/images/error.png}" alt="product-img"/>
    </div>
    <div class="card-footer" align="center">
      <div class="btn-group btn-group-pill mt-2" role="group" aria-label="操作">
        <button class="btn btn-primary " type="button"  title="启用"><i class="fa fa-lock"></i></button>
        <button class="btn btn-primary " type="button"  title="编辑"><i class="fa fa-edit"></i></button>
        <button class="btn btn-primary " type="button"  title="删除"><i class="fa fa-trash-alt"></i></button>
      </div>
<!--      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
       <button ><i class="fa fa-toggle-on"></i>启用</button>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
       <button><i class="fa fa-edit"></i>编辑</button>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
       <button ><i class="fa fa-trash-alt"></i>删除</button>
        </div>
      </div>-->
    </div>
  </div>
</div>
