<div class="row">
  <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-title-wrapper">
      <div class="page-title-box">
        <h4 class="page-title bold">主题管理</h4>
      </div>
      <div class="breadcrumb-list">
        <ul>
          <li class="breadcrumb-link"><a th:href="@{admin}"><i class="fas fa-home mr-2"></i>首页</a></li>
          <li class="breadcrumb-link active">网站管理</li>
          <li class="breadcrumb-link active">主题管理</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-title-wrapper">
      <div class="page-title-box ad-title-box-use">
        <h4 class="page-title"></h4>
      </div>
      <div class="ad-breadcrumb">
            <div class="add-group"><a id="btn_add" class="btn btn-primary mt-2 mr-2 sm-btn"><i class="fa fa-plus"></i>添加主题</a></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="card-header" style="overflow: hidden;position: relative;">
      <h6>默认主题</h6>
      <div class="product-overlay">
        <h6>启用</h6>
      </div>
    </div>
    <div class="card">
      <img th:src="@{/admin1/images/error.png}" alt="theme-img" height="100px;"/>
      <div class="btn-group" role="group" aria-label="操作">
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="启用"><i class="fa fa-lock-open"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="编辑"><i class="fa fa-edit"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="删除"><i class="fa fa-trash-alt"></i></button>
      </div>
      </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="card-header">
      <h6>默认主题1</h6>
    </div>
    <div class="card">
      <img th:src="@{/admin1/images/auth-img.png}" alt="theme-img"  height="100px;"/>
      <div class="btn-group" role="group" aria-label="操作">
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="启用"><i class="fa fa-lock"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="编辑"><i class="fa fa-edit"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="删除"><i class="fa fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="card-header">
      <h6>默认主题2</h6>
    </div>
    <div class="card">
      <img th:src="@{/admin1/images/user1.png}" alt="theme-img" height="100px;"/>
      <div class="btn-group" role="group" aria-label="操作">
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="启用"><i class="fa fa-lock"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="编辑"><i class="fa fa-edit"></i></button>
        <button class="btn btn-primary sm-btn flat-btn" type="button"  title="删除"><i class="fa fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- 表单模态框 -->
<section id="formModalWrapper">
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formTitle"></h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="formContent">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

  $(function () {
    // 新增
    $('#btn_add').on('click', function () {
      Core.load("#formContent", "/theme/add", function () {
        $('#formTitle').text('新增主题')
        $("#formModal").modal('show');
      });
    })

  });


</script>