<!DOCTYPE html><!--[if IE 8]><html lang="en" class="ie8 no-js"><![endif]--><!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]--><!--[if!IE]><!-->
<html lang="zxx">
<!--<![endif]--><!-- Begin Head -->
<head>
<title>SplashDash</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="MobileOptimized" content="320">
<!--Start Style -->
<link rel="stylesheet" type="text/css" th:href="@{/templates/admin/libs/bootstrap/css/bootstrap.min.css}">
<!--<link rel="stylesheet" type="text/css" th:href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="assets/css/icofont.min.css">-->
<link rel="stylesheet" type="text/css" th:href="@{/templates/admin/css/fonts.css}">
<link rel="stylesheet" type="text/css" th:href="@{/templates/admin/css/style.css}">
<!-- Favicon Link -->
<link rel="shortcut icon" type="image/png" href="favicon.ico">
</head>
<body>
<div class="loader">
  <div class="spinner"><img src="assets/images/loader.gif" alt=""/></div>
</div>
<!-- Main Body -->
<div class="fb-main-404section">
  <div class="fb-404page"><img src="assets/images/error.png" alt="">
    <h1>Oops... Page Not Found</h1>
    <p>Do not Worry Back To Previous Pages</p>
    <div class="fb-404btn"><a href="/" class="ad-btn">返回主页</a></div>
  </div>
</div>

</body>
</html>